# git ignore
.*
!.gitignore
!.gitlab-ci.yml
!.github

# python
*.pyc
__pycache__/

# unit test
log unit test-journal
log unit test
unit_test.db-journal
unit_test.db

# log
/log/

# commands
/cmd/go-cognitive/go-cognitive
/cmd/go-format/go-format
/cmd/git-diff-go-cognitive/git-diff-go-cognitive
/cmd/git-diff-go-coverage/git-diff-go-coverage
